{
    "server": {
        "ip": "0.0.0.0",
        "port": 3000
    },
    "auth": {
        "secret": "",
        "algorithm": "HS256"
    },
    "stripe": {
        "publishable_key": "",
        "secret_key": ""
    }
}